<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="131.2.70" targetFramework="native" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="native" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="native" />
</packages>